/* Home.css */

/* Import Geist Variable font */
@font-face {
  font-family: "Geist Variable";
  src: url("../Fonts/GeistVariableVF.ttf") format("opentype");
}

/* Import Segoe UI Semibold font */
@font-face {
  font-family: "Segoe UI Semibold";
  src: url("../Fonts/3868-font.ttf") format("opentype");
}

.App {
  background-color: #111215;
  min-height: 100vh;
  display: flex;
  font-family: "Geist Variable", "Segoe UI Semibold", sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.connect-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 15px;
}

.card {
  background-color: #000000;
  width: auto;
  gap: 10px;
  max-width: 400px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: auto;
  position: relative;
  overflow: hidden;
}

.image-preview {
  margin-top: 1.5rem;
}

.image-preview img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 7px;
  margin-bottom: 12px;
}

.button-container {
  gap: 20px;
  display: flex;
  justify-content: center;
}

button.scan-btn,
button.slick-btn {
  border-radius: 10px;
  color: #000000;
  background-color: #ffffff;
  font-weight: 800;
  font-size: large;
  border: 0px;
  padding-right: 15px;
  padding-left: 15px;
}

input {
  margin: auto;
  display: none;
  position: relative;
}

.submit-photo-button,
.remove-photo-button {
  display: inline-block;
  padding: 5px 10px;
  background-color: #060606;
  color: #ffffff;
  font-family: "Geist Variable";
  border: none;
  font-weight: 800;
  font-size: large;
  border-radius: 5px;
  cursor: pointer;
}

.submit-photo-button:hover,
.remove-photo-button:hover {
  background-color: #07192b;
}

p {
  color: #ffffffba;
  font-family: "Geist Variable";
  font-size: large;
}

.download-btn {
  font-size: large;
  font-family: 'Geist Variable';
  font-weight: 900;
  border: 0px;
  border-radius: 5px;
}